<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Upload Resume</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="name" placeholder="Name"><br>
    <input type="email" name="email" placeholder="Email"><br>

    <select name="job">
        {% for job in jobs %}
            <option value="{{ job.id }}">{{ job.title }}</option>
        {% endfor %}
    </select>

    <br><br>
    <input type="file" name="resume"><br><br>

    <button type="submit">Upload</button>
</form>
</body>
</html>